include MANIFEST.in
include .gitignore
include README.md
include requirements.txt
include test_performance.py
include pytz-2014.4-gae-py2.5.egg
include zoneinfo.zip
include src/*
include src/pytz/*
include src/pytz/tests/*
include src/pytz/zoneinfo/*
include src/pytz/zoneinfo/Africa/*
include src/pytz/zoneinfo/America/*
include src/pytz/zoneinfo/Antarctica/*
include src/pytz/zoneinfo/Arctic/*
include src/pytz/zoneinfo/Asia/*
include src/pytz/zoneinfo/Atlantic/*
include src/pytz/zoneinfo/Australia/*
include src/pytz/zoneinfo/Brazil/*
include src/pytz/zoneinfo/Canada/*
include src/pytz/zoneinfo/Chile/*
include src/pytz/zoneinfo/Etc/*
include src/pytz/zoneinfo/Europe/*
include src/pytz/zoneinfo/Indian/*
include src/pytz/zoneinfo/Mexico/*
include src/pytz/zoneinfo/Pacific/*
include src/pytz/zoneinfo/US/*
